[Unit]
Description=The self-hosted web IRC client

[Service]
SyslogIdentifier=thelounge
User=thelounge
WorkingDirectory=/srv/thelounge
PIDFile=/srv/lounge/pid
Environment="PATH=/bin:/usr/bin:/srv/thelounge/.local/bin" "THELOUNGE_HOME=/srv/thelounge"
Restart=on-failure
RestartSec=1s

ExecStart=/usr/bin/env thelounge start
ExecStop=/bin/kill -s SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target
